<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>All users
    <thread>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Last_name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thread>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.getEmail()}"/>
        <td th:text="${user.getRoles()}"/>
        <td>
            <a th:href="@{/admin/user-update/{id}(id=${user.getId()})}">Update</a>
        </td>
        <td>
            <a th:href="@{/admin/user-delete/{id}(id=${user.getId()})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<br>
<form action="#" th:action="@{/admin/user-create}" method="get">
    <input type="submit" value="Create"/>
</form>
<br>
<form action="#" th:action="@{/user}">
    <input type="submit" value="Info user"/>
</form>
<br>
<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/>
</form>
</div>


</body>
</html>