<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table border="1"> User Info Page
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>email</th>
    </tr>
    <tr>
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getEmail()}"/>
    </tr>
</table>
<br/>
<form  action="#"  th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>