<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User panel</title>
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-dark text-white bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse show" id="navbarDark">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                <span class="align-middle font-weight-bold mr-1" th:text="${user.username}"></span></b>
                <span class="align-middle mr-1">with roles:</span>
                <span class="align-middle" th:each="role:${user.roles}" th:text="${role.name}">
                </span>
            </ul>
        </div>

        <form action="#" th:action="@{/logout}" method="get">
            <button type="submit" class="btn btn-dark text-secondary">
                Logout
            </button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="p-2 col-2">
            <div class="nav flex-column nav-pills pt-2" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <a class="nav-link" href="/admin"
                   aria-controls="v-pills-home" aria-selected="false">Admin</a>
                <a class="nav-link active" href="/user"
                   role="tab"
                   aria-controls="v-pills-profile" aria-selected="true">User</a>
            </div>
        </div>

        <div class="col-md-10 bg-light">
            <h1 class="mt-3">User information-page</h1>

            <div class="tab-content">
                <div class="tab-pane fade show active">
                    <div class="card">
                        <div class="card-header">
                            <h4>About user</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Last name</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                </tr>
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.roles}"></td>
<!--                                <td>-->
                                <!--                                    <li th:each="role: ${user.getRoles()}" th:text="${user.getRoles()}"></li>-->
                                <!--                                </td>-->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>