<!DOCTYPE html>
<html lang="en">
<!--xmlns:th="http://www.w3.org/1999/xhtml"> -->
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>User Update</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/user-update/{id} (id=${user.getId()})}" th:object="${user}">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>

    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <br/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>

    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <br>
    <th:block th:each="role: ${listRoles}">
        <input type="checkbox" th:field="*{roles}"
               th:text="${role.name}" th:value="${role.id}" class="m-2"/>
    </th:block>
    <br>
    <br/><br/>
    <input type="submit" value="Update!"/>
</form>

<form action="#" th:action="@{/admin}" method="get">
    <input type="submit" value="Back"/>
</form>
<br>
<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="Exit"/>
</form>

</body>
</html>

<!--    <label for="role">Role</label>-->
<!--    <select name="role" id="role" multiple="multiple">-->
<!--        <option value="ROLE_USER">USER</option>-->
<!--        <option value="ROLE_ADMIN">ADMIN</option>-->
<!--    </select>-->

<!--        <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">-->
<!--    <form th:method="PATCH" th:action="@{/admin/user-update/{id}(id=${user.getId()})}" th:object="${user}">-->
<!--<form action="#" th:action="@{/admin/user-update}" th:object="${user}" method="POST">-->